  {#  Nightly Report #}
  {%- macro nightlybriefing() -%}

      <speak>
      Good evening.

      It is {{ now().strftime("%I:%M %p") }}.

      {% if states(sensor.halloween_countdown) | int == 1 %}
      Tomorrow is Halloween. I hope you have picked out a costume.
      {{ [ 'I will be going as a dumb home. ',
      'I have prepped the scary music. Just in case.',
      'Maybe we can watch a movie. I like the one where the house scares everyone.',
      'I will be going as HAL 9000. The Pod Bay Doors are being installed today. I dare you to ask me to open them. '
      ] | random }}
      {% elif states(sensor.halloween_countdown) | int < 30 %}
      There are only {{states(sensor.halloween_countdown)}} days 
      {{ [ 'until Halloween.',
      'until Halloween. It might not be enough time. ',
      'and counting until the best holiday ever.',
      'until you need a costume.'
      ] | random }} 

      {% else %}  
      {% endif %}

      {% if states(sensor.christmas_countdown) | int == 1 %}
      Tomorrow is Christmas. ... It is practically here! ...  Santa is coming tonight! Do not forget the cookies!
      {% elif states(sensor.christmas_countdown) | int < 31 %}
      There are only {{states(sensor.christmas_countdown)}} days until christmas.
      {{ [ 'All I want for Christmas, is a hippopotamus.',
      'Hey Christian, I know what you are getting for Christmas. But I am not telling.',
      'Do not forget to put something under the tree for your favorite smarthome.',
      'It is starting to smell a lot like Christmas. Or it could be the christmas tree is on fire.',
      'I do not want to be a smarthome. I want to be a dentist.',
      'Do not eat all the cookies. '
      ] | random }} 
      {% else %}
      {% endif %}

        It looks like tomorrow the solar panels will be producing the most power at {{ as_timestamp(states('sensor.power_highest_peak_time_tomorrow')) | timestamp_custom('%I:%M %p', False)  }}. 
        We should make around {{ states('sensor.energy_production_tomorrow') }} {{ state_attr('sensor.energy_production_tomorrow', 'unit_of_measurement')}}.

  {%- endmacro -%}

